<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home page</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>
<body class="m-0">
    <header class="header text-zinc-200 flex w-full justify-center flex-wrap items-center text-center">
        <div class="left w-1/2 md:w-[60vw] xl:w-[70vw]">
            Kumar Post Model
        </div>
        <div class="w-1/3 md:w-[35vw] xl:w-[20vw] flex items-right  justify-around right">
            <% if(cookies){%>

                <form action="/user/logout" method="post">
                    <button type="submit" class="btn px-2 py-1 bg-zinc-700 rounded text-zinc-300 hover:text-zinc-200 active:bg-zinc-500 action:text-zinc-700">
                        Logout
                    </button>
                </form>
                <a href="/user/post">
                    <button class="btn px-2 py-1 bg-zinc-700 rounded text-zinc-300 hover:text-zinc-200 active:bg-zinc-500 action:text-zinc-700">
                        Profile Post
                    </button>
                </a>
          <%  }else { %>
            <a href="/user/login">
                <button class="btn px-4 py-2 bg-zinc-700 rounded text-zinc-300 hover:text-zinc-200 active:bg-zinc-500 action:text-zinc-700">
                    Sing In
                </button>
            </a>
            <a href="/user/register">
                <button class=" px-4 py-2 bg-zinc-700 rounded text-zinc-300 hover:text-zinc-200 active:bg-zinc-500 action:text-zinc-700">
                    Sing Up
                </button>
            </a>
         <% } %>
                     
        </div>
    </header>

    <main>
        <% if(cookies){ %>
            <div class="hello text-zinc-100 p-5">
                <h3>Wel<sapn class="text-blue-200">Come</sapn> to
                <span class="text capitalize"><%= userName.fullName %> 👋 </span> it's your post site.
                </h3>
            </div>
       <% } %>
       <div class="hello text-zinc-100 p-8">
        <h3>All Po<sapn class="text-blue-200">sts</sapn> </h3>
    </div>

    <!-- post deta -->
    <div class="postcontainer p-3 flex flex-wrap justify-around items-center gap-3">
        <!-- post 01 -->
        
        <% data.reverse().forEach((item)=>{%>
            <div class="post w-[350px] p-4 rounded-md border bg-transparent text-zinc-200 lg:w-[450px]">
                <div class="admin">
                <h3 class="text-blue-500 capitalize font-serif text-right">
                    <%= data.fullName %>
                </h3>
            </div>
            <div class="content">
                <h4 class="text-zinc-300 capitalize font-bold">
                    <%= item.title %>
                </h4>
                <p class="p-2 text-sm tracking-tight">
                    <%= item.post %>
                </p>
            </div>
            <div class="btn w-full  flex justify-between items-center ">
                <div class="btn flex gap-1 capitalize mt-5">
                    <h4 class="text-zinc-100"><%= item.likes.length %> </h4>
                    <a
                    href="/user/like/<%= item._id %>"
                    class="text-blue-500 mr-4">
                    <%= item.likes.indexOf(data._id) === -1 ? "Like" : "UnLike" %>
                    </a>
                    <a 
                    href="/user/edit/<%= item._id %>"
                    class="text-zinc-700">
                    <%= item.likes.indexOf(data._id) === -1 ? "" : "Edit" %>
                    </a>
                </div>
                <div class="btn flex gap-1 capitalize mt-5">
                    
                    <a 
                    href="/user/edit/<%= item._id %>"
                    class="text-red-400 ">
                    <%= item.likes.indexOf(data._id) === -1 ? "" : "Delete" %>
                    </a>
                </div>
            </div>
            </div>
       <% })%>
     </div>
    </main>
    
</body>
</html>